@font-face {
    font-family: lato;
    src: url("/assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: notoserif;
    src: url("/assets/fonts/NotoSerif-Regular.ttf");
}

/*
colors
#90caf9
#c3fdff
#5d99c6
#aed581
#e1ffb1
#7da453
*/

* {
    font-family: "lato";
}

body {
    background-color: #c3fdff;
}

h1, h2, h3, h4 {
    font-family: "notoserif";
    font-weight: bold;
}

h1 {
    color: #5d99c6;
}

a {
    color: #7da453;
}

table {
    background-color: #e1ffb1;
}

.btn-primary {
    background-color: #5d99c6;
}

.gallery-images img{
    height: 100%;
    width: 100%;
}

.espai, .exposicio {
    border: black 1px solid;
    box-sizing: border-box;
}

.espai h3 > a, .exposicio h3 > a {
    text-decoration: none;
    color: black
}

.comentari {
    border: 1px solid black;
    box-sizing: border-box;
    height: 100%;
}



/* footer {
    background-color: black;
    color: white;
} */